.header_title {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--ion-color-primary);
  text-align: center;
  height:40px;
}

.title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
}

.button_area {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  width: 100%;
  margin: 12px;
}
.button_style {
  margin-top: 10px;
  width: 130px;
  height: 35px;
  font-size: 0.7em;
}
