[hidden] {
  display: none !important;
}

ion-card-header {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--ion-color-primary);
  padding-top: 8px;
  padding-bottom: 6px;
}

.header_title {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--ion-color-primary);
  text-align: center;
  height:40px;
}

#lineCanvas1 {
  width: 100%;
}

#lineCanvas2 {
//  position: absolute;
//  top: 50;
//  left: 0;
  width: 100%;
}

.canvas_frame {
  height: 200px;
  width: 100%;
}

.canvas_frame2 {
  height: 240px;
  width: 100%;
}

.sub_canvas_frame {
  height: 100px;
  width: 80%;
  margin-bottom: 35px;
}

.comment_title {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.comment {
  font-size: 1.2em;
  white-space: pre-wrap;
}

.overall_score {
  font-weight: bold;
  font-size: 1.2em;
  white-space: pre-wrap;
}

.overall_score span {
  color: orange;
}

.font-weight-normal {
  font-weight: normal;
}

.button-margin {
  padding-bottom:6px;
}

ion-footer ion-toolbar {
  height: 50px;
}

ion-footer ion-toolbar ion-buttons {
  width: 100%;
}

ion-footer ion-toolbar ion-buttons ion-button {
  font-size: 0.85em;
  height: 35px;
  padding: 0px;
  width: 50%;
}

.font-small {
  font-size: 0.95em;
  white-space: nowrap;
}

.overall_score_star {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
  white-space: pre-wrap;
}

.star {
  position: relative;
  font-size: 1.3em;
  color: orange;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3px;
}

.star_child {
  position: absolute;
  overflow: hidden;
  width: 0%;
  white-space: nowrap;
  top:0;
  left:0;
  background-color:white;
}
