h1 {
  padding-top: 50%;
  padding-bottom: 35%;
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
  border-bottom: solid 3px var(--ion-color-primary);
  color: var(--ion-color-primary);
  font-size: 2.4em;
}

.button-margin {
  margin-top: 30px;
}
